#container-fluid{
    background-color:pink;
    height: 3000px;
    width: 100%;
}
.header img{
    height: 5%;
    width: 250px; 
}
.header ul{
    float: right;
    margin-top: 40px;
}
.header ul li{
    display: inline;
    margin-right: 50px;
    font-size: 18px;
   
}
.header ul li a{
    text-decoration: none;
    color: rgb(29, 3, 0);     
}
#cb1 img{
    height: 500px;
    width: 80%;
    padding-left: 120px;
} 
/* #content1{
    width: 25%;
    height: 350px;
    background-color: rgb(105, 13, 3);
    float: left;
    margin-left: 4%;
} */
#content1 img{
    height: 250px;
    width: 25%;
    float: left;
    padding-left:30px ;
}
#content2 img{
    height: 250px;
    width: 28%;
    float: left;
    padding-left: 100px;
}
#content3 img{
    height: 250px;
    width: 25%;
    float: right;
    padding-right: 30px;
}
#cb2{
    float: left;
    padding-left: 50px;
    margin-top: 10px;
    
    

}
#content4 img{
    height:600px;
    width: 90%;
    padding-top: 50px;
    padding-left:60px ;

}























































/* #footer1 img{
    height:1000px;
    width: 100%;
    padding-top: 200px;
    

} */
